@{
    ViewData["Title"] = "Home Page";
}

<div class="index-section">
   <div class="hading text-center">
       <h1>Heyy, Welcome to my Application</h1>
   </div>

   @section Styles {
    <style>
        /* Hero Section */
            .index-section {
            background: linear-gradient(to right, #007bff);
            padding: 10px 0;
        }
        </style>
        }

</div>

